<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 shadow border rounded p-2 p-md-4">
            <div class="row mt-3">
                <div class="col-6">
                    User Name
                </div>
                <div class="col-6">
                    : {{issueDetails?.order.user.name}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    User Role
                </div>
                <div class="col-6">
                    : {{issueDetails?.order.user.role}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    Course Title
                </div>
                <div class="col-6">
                    : {{issueDetails?.order.course.courseTitle}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    Course Code
                </div>
                <div class="col-6">
                    : {{issueDetails?.order.course.code}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    Course Price
                </div>
                <div class="col-6">
                    : {{issueDetails?.order.course.price}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    Status
                </div>
                <div class="col-6">
                    : {{issueDetails?.order.status}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    Payment Id
                </div>
                <div class="col-12">
                    : {{issueDetails?.order.transactionID}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    Issue Detail
                </div>
                <div class="col-6 fw-bold">
                    : {{issueDetails?.issue}}
                </div>
            </div>
            <div class="mt-3">
                <a [routerLink]="['/orders/', issueDetails?.order?._id]" class="btn border-primary text-primary">Change
                    Status</a>
            </div>
        </div>
    </div>
</div>