<!-- back btn -->
<div class="d-flex">
    <span class="d-flex align-items-center cursor-pointer" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon> Back
    </span>
</div>

<!-- form -->

<div class="mt-5">
    <p class="fw-bold fs-5 mb-3" *ngIf="courseId !== ''"> This file will upload under <span class="text-success">
            {{courseName}}
        </span>course </p>
    <form class="row" [formGroup]="addMaterialForm">
        <div class="col-12 col-md-6 col-xl-5">
            <div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Material Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
        <!-- file upload -->
        <div class="my-3">
            <p class="text-danger">select material to upload</p>
            <input type="file" accept=".pdf" #materialFile>
        </div>
        <div>
            <button class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>