

@media screen and(max-width: 968px) {
    .view-book-details {
        position: fixed;
        top: 60px;
        overflow: auto;
        background-color: white;
        z-index: 10;
        height: 100%;
        width: 80%;
    }
}

@media screen and(max-width: 768px) {
    .view-book-details {
        width: 100%;
        top: 0;
    }
}