<div class="container-fluid">
    <div class="row">
        <!-- book card -->
        <div class="col-12 col-lg-6 mt-2 p-1" *ngFor="let book of bookList">
            <mat-card [class.active-book]="book._id === activeBookId">
                <div class="row">
                    <div class="col-12 col-md-4 text-center">
                        <img [src]="book?.image?.url ? book?.image?.url : '/assets/book-3.png'" alt="book preview"
                            decoding="async" loading="lazy" class="book-preview-img rounded w-100">

                    </div>
                    <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
                        <p> Book | {{book.publishedYear | date}} </p>
                        <p class="fw-bold">{{book.title}}</p>
                        <p>Author : {{book.author.authorName}}</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <mat-icon title="Delete" class="text-danger cursor-pointer me-3">delete </mat-icon>
                                <mat-icon title="edit details" class="text-primary cursor-pointer"
                                    [routerLink]="['/books/edit',book._id]">edit </mat-icon>
                            </div>
                            <div class="text-primary cursor-pointer" (click)="viewBookDetails(book)">View Details >>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>