<div class="container-fluid">
    <div class="row align-items-center course-container p-3">
        <h1 class="text-white text-uppercase">{{courseDetails?.courseTitle}}</h1>
        <!-- course details -->
        <div class="col-12 col-md-2">
            <img class="rounded course-thumbnail w-100" decoding="async" loading="lazy"
                [src]="courseDetails?.image?.url ? courseDetails?.image?.url : defaultThumbnailImg"
                alt="Course Thumbnail">
        </div>
        <div class="col-12 col-md-10 mt-3 mt-md-0">
            <p class="text-white fs-6">
                {{courseDetails?.description}} </p>
            <p class="text-white">
                The course contains <span class="text-warning">{{courseDetails?.count[0].length}} Videos,
                    {{courseDetails?.count[1].length}} Materials</span>
            </p>
            <div class="d-flex">
                <div class="text-white">
                    <p>Code : <span class="text-primary fw-bold">{{courseDetails?.code}}</span></p>
                    <p>Price : <span class="text-primary fw-bold">{{courseDetails?.price}}</span></p>
                </div>
                <p class="ms-3">
                    <button type="button" class="border-0 bg-success p-1 px-2 rounded" (click)="shareData()">
                        <mat-icon class="text-white">share</mat-icon>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <h1 class="mt-3">Course Products</h1>
    <div>
        <mat-stepper class="example-stepper" [orientation]="(stepperOrientation | async)!">
            <mat-step label="Videos">
                <div class="text-end">
                    <button class="btn btn-primary btn-sm rounded shadow m-0 text-white"
                        [routerLink]="['/course-products/',courseDetails?._id,courseDetails?.courseTitle,'add-video']">
                        <span class="h6 pe-1">&#43;</span> Add Video
                    </button>
                </div>
                <app-video-card [videosList]="courseDetails.count[0]"></app-video-card>
            </mat-step>
            <mat-step label="Materials">
                <div class="text-end">
                    <button class="btn btn-primary btn-sm rounded shadow m-0 text-white"
                        [routerLink]="['/course-products/', courseDetails?._id, courseDetails?.courseTitle, 'add-material']">
                        <span class="h6 pe-1">&#43;</span> Add Material
                    </button>
                </div>
                <app-material-card></app-material-card>
            </mat-step>
        </mat-stepper>
    </div>
</div>