<div class="container py-1 h-100" style="background-color: #f2fcfe;">
    <div class="row h-100">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-2" *ngFor="let i of [0,0,0,0,0,0,0,0,0]">
            <div class="video-card bg-light border border-muted p-2">
                <div class="video-thumbnail-img-wrapper position-relative">
                    <img class="video-thumbnail-img rounded w-100" src="/assets/video-default-thumbnail-img.webp"
                        alt="Video Preview" decoding="async" loading="lazy">

                    <!-- video icon -->
                    <div>
                        <img src="/assets/play-btn.png" alt="Play" class="position-absolute play-btn cursor-pointer">
                    </div>
                </div>
                <h2 class="mt-3 fw-bold text-center title-text">
                    Title of the video
                </h2>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Duration <span class="fw-bold">1 Month</span></p>
                    </div>
                    <!-- action icons -->
                    <div>
                        <mat-icon title="Delete" class="text-danger cursor-pointer me-3">delete </mat-icon>
                        <mat-icon title="edit details" class="text-primary cursor-pointer">edit </mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>