<div class="container-fluid position-relative" id="view-book">
    <div class="row">
        <div class="bg-light view-title d-flex">
            <p class="d-flex d-lg-none align-items-center text-danger cursor-pointer" (click)="closeViewBookScreen()">
                <mat-icon>arrow_back</mat-icon>Back
            </p>
            <h2 class="w-100 text-center" (click)="closeViewBookScreen()">Book Details</h2>
        </div>

        <mat-card class="mt-5 mt-lg-0 position-relative">
            <!-- content load -->
            <div class="h-100 w-100 start-0 position-absolute d-flex justify-content-center"
                style="background-color: rgba(0, 0, 0, 0.575);" *ngIf="showLoader">
                <div style="margin-top: 50%;">
                    <div class="spinner-grow text-primary" role="status">
                    </div>
                    <div class="spinner-grow text-secondary" role="status">
                    </div>
                    <div class="spinner-grow text-success" role="status">
                    </div>
                    <div class="spinner-grow text-danger" role="status">
                    </div>
                    <div class="spinner-grow text-warning" role="status">
                    </div>
                    <div class="spinner-grow text-info" role="status">
                    </div>
                    <div class="spinner-grow text-dark" role="status">
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <img [src]="bookDetails?.image?.url ? bookDetails?.image?.url : '/assets/book-3.png'" alt="book preview"
                    decoding="async" loading="lazy" class="book-preview-img rounded w-100">
            </div>
            <div class="col-12 mt-2">
                <div class="d-flex justify-content-between">
                    <p> Book | {{bookDetails.publishedYear | date}} </p>
                    <p class="d-flex align-items-center text-danger cursor-pointer" (click)="shareData()">Share
                        <mat-icon>share</mat-icon>
                    </p>
                </div>
                <p class="fw-bold">{{bookDetails.title}}</p>
                <p>Author : {{bookDetails.author.authorName}}</p>
                <p class="fw-bold">
                    {{bookDetails.description}}
                </p>
                <p> Access Code : {{bookDetails.accessCode}} </p>
                <p> Category : <span *ngFor="let c of bookDetails.category">{{c.categoryName}} </span></p>
                <p> Price : {{bookDetails.price}} </p>
                <p> Edition : {{bookDetails.edition}} </p>
                <p> PublishedYear : {{bookDetails.publishedYear | date}} </p>
                <p>Total Books Avalible : {{bookDetails.totalBooks}}</p>
                <p>Publisher : {{bookDetails.publisher}}</p>
                <p>language : {{bookDetails.language}}</p>
                <p>Visitors count : {{bookDetails.visitor}}</p>
            </div>
        </mat-card>
    </div>
</div>