<div class="container-fluid position-relative" id="view-book">
    <div class="row">
        <div class="bg-light view-title d-flex">
            <p class="d-flex d-lg-none align-items-center text-danger cursor-pointer" (click)="closeViewBookScreen()">
                <mat-icon>arrow_back</mat-icon>Back
            </p>
            <h2 class="w-100 text-center" (click)="closeViewBookScreen()">Book Details</h2>
        </div>
        <mat-card class="mt-5">
            <div class="col-12 text-center">
                <img src="/assets/book-3.png" alt="Book-Image" class="book-preview-img rounded w-100">
            </div>
            <div class="col-12 mt-2">
                <div class="d-flex justify-content-between">
                    <p> Book | February 2022 </p>
                    <p class="d-flex align-items-center text-danger cursor-pointer" (click)="shareData()">Share <mat-icon>share</mat-icon>
                    </p>
                </div>
                <p class="fw-bold">World Development Report 2022 : Finance for an Equitable Recovery</p>
                <p>Author : Test1</p>
                <p>
                    World Development Report 2022: Finance for an Equitable Recovery examines the central role of
                    finance in the economic recovery from COVID-19. Based on an in-depth look at the consequences of the
                    crisis most likely to affect low- and middle-income economies, it advocates a set of policies and
                    measures to mitigate the interconnected economic risks stemming from the pandemic—risks that may
                    become more acute as stimulus measures are withdrawn at both the domestic and global levels
                </p>
                <p> Access Code : 123 </p>
                <p> Category : ABC </p>
                <p> Price : 123 </p>
                <p> Edition : 123 </p>
                <p> PublishedYear : Nov 11, 2020 </p>
                <p>Total Books Avalible : 15</p>
                <p>Publisher : deva</p>
                <p>language : Tamil</p>
                <p>Visitors count : 12</p>
            </div>
        </mat-card>
    </div>
</div>