<div class="container">
    <div class="row">
        <h2 class="text-info">Pending student requests</h2>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1" *ngFor="let s of students; index as i">
            <mat-card>
                <!-- empty list -->
                <div class="d-flex justify-content-end">
                    <p class="material-count m-0 d-flex justify-content-center align-items-center me-2"><span>{{i +
                            1}}</span></p>
                </div>
                <p> Name: <span class="fw-bold">{{s.name}}</span></p>
                <p> Roll Number: <span class="fw-bold">{{s?.rollNumber}}</span></p>
                <p> Email: <span class="fw-bold">{{s.email}}</span></p>
                <p> DOB: <span class="fw-bold">{{s.dob}}</span></p>
                <p> Mobile Number: <span class="fw-bold">{{s.mobileNumber}}</span></p>
                <p> Requested Date: <span class="fw-bold">{{s.createdAt | date}}</span></p>
                <!-- accept button section -->
                <div class="mt-3 d-flex justify-content-around">
                    <button class="btn btn-primary py-1" (click)="approveRequest(s._id)">Accept</button>
                    <button class="btn btn-danger py-1" (click)="rejectRequest(s._id)">Reject</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="col-12 text-center" *ngIf="students.length === 0">
    <img src="/assets/no-data-found.webp" class="w-75" alt="NO DATA FOUND">
</div>